#title{
    color: lightgreen;
    text-align: center;
}
.subtitle{
    color: blue;
}
.truthorlie{
    color: red;
}
#maindiv{
    border: 10px solid black;
    height: 350px;
    border-radius: 25px;
    background: gray;
    padding: 20px;
    align-items: center;
}
.divone{
    border: 5px solid black;
    height: 150px;
    width: 30%;
    border-radius: 25px;
    background: lightgray;
    padding: 15px;
    margin: 10px;
    text-align: center;
    float: left;
}